n8n/assistant-bot.json
{
  "name": "Botsab - Group Assistant Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "botsab-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Receive Botsab Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "botsab-group-bot",
      "notes": "Set this URL as the webhook URL in Botsab for your instance. Subscribe to: message.received"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-is-group",
              "leftValue": "={{ $json.body.data.enriched.isGroup }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "cond-is-mentioned",
              "leftValue": "={{ $json.body.data.enriched.isMentioned }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "cond-has-text",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message.received",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Is Group Mention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Ignore (ack webhook)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 480]
    },
    {
      "parameters": {
        "jsCode": "const enriched = $json.body.data.enriched;\nconst instanceId = $json.body.instanceId;\n\n// Strip @mentions from query text\nlet query = (enriched.text || '').replace(/@\\d+\\s*/g, '').trim();\n\nif (!query) {\n  // No real question — send a helpful nudge\n  return [{ json: {\n    instanceId,\n    groupId: enriched.groupId,\n    senderId: enriched.senderId,\n    query: null,\n    reply: 'Hi! I am the group assistant. Tag me with a question and I will do my best to help. 🤖',\n  }}];\n}\n\nreturn [{ json: {\n  instanceId,\n  groupId: enriched.groupId,\n  senderId: enriched.senderId,\n  query,\n  reply: null,\n}}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Extract Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-has-query",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "id": "cond-not-null",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Has Real Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "REPLACE_WITH_YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a helpful WhatsApp group assistant. Keep responses concise (under 300 words). Be friendly and helpful. No markdown formatting — plain text only.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.query) }} }\n  ]\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Call Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "notes": "Replace REPLACE_WITH_YOUR_ANTHROPIC_API_KEY with your key. Or swap this node for OpenAI."
    },
    {
      "parameters": {
        "jsCode": "// Claude response → clean reply text\nconst aiResponse = $('Call Claude AI').item.json;\nconst replyText = aiResponse.content?.[0]?.text ?? 'Sorry, I could not process that request.';\n\nconst query = $('Extract Query').item.json;\n\nreturn [{ json: {\n  instanceId: query.instanceId,\n  groupId: query.groupId,\n  reply: replyText,\n}}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Format AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/instances/{{ $json.instanceId }}/groups/{{ $json.groupId }}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "text" },
            { "name": "text", "value": "={{ $json.reply }}" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Reply to Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HTTP_HEADER_CREDENTIAL_ID",
          "name": "Botsab API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/instances/{{ $json.instanceId }}/groups/{{ $json.groupId }}/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "text" },
            { "name": "text", "value": "={{ $json.reply }}" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Reply (no query nudge)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_HTTP_HEADER_CREDENTIAL_ID",
          "name": "Botsab API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Ack webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Receive Botsab Webhook": {
      "main": [
        [{ "node": "Is Group Mention?", "type": "main", "index": 0 }]
      ]
    },
    "Is Group Mention?": {
      "main": [
        [{ "node": "Extract Query", "type": "main", "index": 0 }],
        [{ "node": "Ignore (ack webhook)", "type": "main", "index": 0 }]
      ]
    },
    "Extract Query": {
      "main": [
        [{ "node": "Has Real Query?", "type": "main", "index": 0 }]
      ]
    },
    "Has Real Query?": {
      "main": [
        [{ "node": "Call Claude AI", "type": "main", "index": 0 }],
        [{ "node": "Reply (no query nudge)", "type": "main", "index": 0 }]
      ]
    },
    "Call Claude AI": {
      "main": [
        [{ "node": "Format AI Reply", "type": "main", "index": 0 }]
      ]
    },
    "Format AI Reply": {
      "main": [
        [{ "node": "Reply to Group", "type": "main", "index": 0 }]
      ]
    },
    "Reply to Group": {
      "main": [
        [{ "node": "Ack webhook", "type": "main", "index": 0 }]
      ]
    },
    "Reply (no query nudge)": {
      "main": [
        [{ "node": "Ack webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
